$layout-phone: 400px;
$layout-phone-wide: 480px;
$layout-phablet: 560px;
$layout-tablet-small: 640px;
$layout-tablet: 768px;
$layout-tablet-wide: 1024px;
$layout-desktop: 1248px;
$layout-desktop-wide: 1440px;
$layout-desktop-large: 1680px;
